src/main/mule/elearning-rest.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:java="http://www.mulesoft.org/schema/mule/java"
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">

	<flow name="get-health-flow" doc:name="get-health-flow">
		<http:listener config-ref="HTTP_Listener_config" path="/health" allowedMethods="GET" doc:name="GET /health" />
		<set-payload value='#[{ "status": "UP", "app": p("app.name") }]' doc:name="Payload" />
	</flow>

	<!-- UserService -->
	<flow name="post-users-register-flow" doc:name="post-users-register-flow">
		<http:listener config-ref="HTTP_Listener_config" path="/users" allowedMethods="POST" doc:name="POST /users" />
		<set-variable value="#[payload]" variableName="body" doc:name="body" />
		<validation:is-true config-ref="Validation_Config" expression="#[not isEmpty(vars.body.email)]" message="Email obligatorio" doc:name="email" />
		<validation:is-true config-ref="Validation_Config" expression="#[not isEmpty(vars.body.password)]" message="Password obligatorio" doc:name="password" />
		<java:invoke-static class="com.mycompany.mtisteoria.security.PasswordHasher" method="hash(java.lang.String)" doc:name="Hash password">
			<java:args><![CDATA[#[{ arg0: vars.body.password }]]]></java:args>
		</java:invoke-static>
		<set-variable value="#[payload]" variableName="passHash" doc:name="passHash" />
		<set-variable value="#[uuid()]" variableName="newUserId" doc:name="newUserId" />
		<db:insert config-ref="Database_Config" doc:name="INSERT user">
			<db:sql><![CDATA[INSERT INTO users (id, name, email, password, role, active)
VALUES (:id, :name, :email, :password, :role, true)]]></db:sql>
			<db:input-parameters><![CDATA[#[{
  id: vars.newUserId,
  name: vars.body.name default 'Usuario',
  email: vars.body.email,
  password: vars.passHash,
  role: vars.body.role default 'student'
}]]]></db:input-parameters>
		</db:insert>
		<db:select config-ref="Database_Config" doc:name="SELECT user creado">
			<db:sql><![CDATA[SELECT id, name, email, role, active, created_at FROM users WHERE id = :id]]></db:sql>
			<db:input-parameters><![CDATA[#[{ id: vars.newUserId }]]]></db:input-parameters>
		</db:select>
		<set-payload value="#[payload[0]]" doc:name="Usuario sin password" />
	</flow>

	<flow name="post-users-login-flow" doc:name="post-users-login-flow">
		<http:listener config-ref="HTTP_Listener_config" path="/users/login" allowedMethods="POST" doc:name="POST /users/login" />
		<set-variable value="#[payload]" variableName="login" doc:name="login" />
		<db:select config-ref="Database_Config" doc:name="SELECT por email">
			<db:sql><![CDATA[SELECT id, name, email, password, role, active FROM users WHERE email = :e LIMIT 1]]></db:sql>
			<db:input-parameters><![CDATA[#[{ e: vars.login.email }]]]></db:input-parameters>
		</db:select>
		<validation:is-true config-ref="Validation_Config" expression="#[sizeOf(payload default []) &gt; 0]" message="Credenciales inválidas" doc:name="Usuario existe" />
		<set-variable value="#[payload[0]]" variableName="dbUser" doc:name="dbUser" />
		<validation:is-true config-ref="Validation_Config" expression="#[vars.dbUser.active == true]" message="Usuario inactivo" doc:name="Usuario activo" />
		<java:invoke-static class="com.mycompany.mtisteoria.security.PasswordHasher" method="verify(java.lang.String,java.lang.String)" doc:name="Verify password">
			<java:args><![CDATA[#[{ arg0: vars.login.password, arg1: vars.dbUser.password }]]]></java:args>
		</java:invoke-static>
		<validation:is-true config-ref="Validation_Config" expression="#[payload == true]" message="Credenciales inválidas" doc:name="Password OK" />
		<set-payload value="#[%dw 2.0
output application/json
var u = vars.dbUser
---
{
  token: &quot;mtis-&quot; ++ ((u.id as String) splitBy &quot;-&quot;) joinBy &quot;&quot;,
  user: { id: u.id, name: u.name, email: u.email, role: u.role }
}]" doc:name="Respuesta login" />
	</flow>

	<flow name="get-users-list-flow" doc:name="get-users-list-flow">
		<http:listener config-ref="HTTP_Listener_config" path="/users" allowedMethods="GET" doc:name="GET /users" />
		<flow-ref name="validate-api-key-subflow" doc:name="validate-api-key-subflow" />
		<db:select config-ref="Database_Config" doc:name="LIST users">
			<db:sql><![CDATA[SELECT id, name, email, role, active, created_at FROM users ORDER BY created_at DESC]]></db:sql>
		</db:select>
	</flow>

	<flow name="get-user-by-id-flow" doc:name="get-user-by-id-flow">
		<http:listener config-ref="HTTP_Listener_config" path="/users/{userId}" allowedMethods="GET" doc:name="GET /users/{userId}" />
		<flow-ref name="validate-api-key-subflow" doc:name="validate-api-key-subflow" />
		<db:select config-ref="Database_Config" doc:name="SELECT user">
			<db:sql><![CDATA[SELECT id, name, email, role, active, created_at FROM users WHERE id = :id]]></db:sql>
			<db:input-parameters><![CDATA[#[{ id: attributes.uriParams.userId }]]]></db:input-parameters>
		</db:select>
		<validation:is-true config-ref="Validation_Config" expression="#[sizeOf(payload default []) &gt; 0]" message="Usuario no encontrado" doc:name="Existe" />
		<set-payload value="#[payload[0]]" doc:name="Usuario" />
	</flow>

	<flow name="put-user-flow" doc:name="put-user-flow">
		<http:listener config-ref="HTTP_Listener_config" path="/users/{userId}" allowedMethods="PUT" doc:name="PUT /users/{userId}" />
		<flow-ref name="validate-api-key-subflow" doc:name="validate-api-key-subflow" />
		<set-variable value="#[payload]" variableName="body" doc:name="body" />
		<choice doc:name="¿Actualizar password?">
			<when expression="#[vars.body.password != null and vars.body.password != '']">
				<java:invoke-static class="com.mycompany.mtisteoria.security.PasswordHasher" method="hash(java.lang.String)" doc:name="Hash nuevo password">
					<java:args><![CDATA[#[{ arg0: vars.body.password }]]]></java:args>
				</java:invoke-static>
				<set-variable value="#[payload]" variableName="passHash" doc:name="passHash" />
				<db:update config-ref="Database_Config" doc:name="UPDATE user con password">
					<db:sql><![CDATA[UPDATE users SET name = :name, email = :email, role = :role, active = :active, password = :password WHERE id = :id]]></db:sql>
					<db:input-parameters><![CDATA[#[{
  id: attributes.uriParams.userId,
  name: vars.body.name,
  email: vars.body.email,
  role: vars.body.role,
  active: vars.body.active default true,
  password: vars.passHash
}]]]></db:input-parameters>
				</db:update>
			</when>
			<otherwise>
				<db:update config-ref="Database_Config" doc:name="UPDATE user sin password">
					<db:sql><![CDATA[UPDATE users SET name = :name, email = :email, role = :role, active = :active WHERE id = :id]]></db:sql>
					<db:input-parameters><![CDATA[#[{
  id: attributes.uriParams.userId,
  name: vars.body.name,
  email: vars.body.email,
  role: vars.body.role,
  active: vars.body.active default true
}]]]></db:input-parameters>
				</db:update>
			</otherwise>
		</choice>
		<db:select config-ref="Database_Config" doc:name="SELECT user actualizado">
			<db:sql><![CDATA[SELECT id, name, email, role, active, created_at FROM users WHERE id = :id]]></db:sql>
			<db:input-parameters><![CDATA[#[{ id: attributes.uriParams.userId }]]]></db:input-parameters>
		</db:select>
		<set-payload value="#[payload[0]]" doc:name="Usuario" />
	</flow>

	<flow name="delete-user-flow" doc:name="delete-user-flow">
		<http:listener config-ref="HTTP_Listener_config" path="/users/{userId}" allowedMethods="DELETE" doc:name="DELETE /users/{userId}" />
		<flow-ref name="validate-api-key-subflow" doc:name="validate-api-key-subflow" />
		<db:update config-ref="Database_Config" doc:name="Soft delete">
			<db:sql><![CDATA[UPDATE users SET active = false WHERE id = :id]]></db:sql>
			<db:input-parameters><![CDATA[#[{ id: attributes.uriParams.userId }]]]></db:input-parameters>
		</db:update>
		<set-payload value='#[{ "deleted": true, "id": attributes.uriParams.userId }]' doc:name="Respuesta" />
	</flow>

	<flow name="get-academic-history-flow" doc:name="get-academic-history-flow">
		<http:listener config-ref="HTTP_Listener_config" path="/users/{userId}/academic-history" allowedMethods="GET" doc:name="GET historial" />
		<flow-ref name="validate-api-key-subflow" doc:name="validate-api-key-subflow" />
		<set-variable value="#[attributes.uriParams.userId]" variableName="uid" doc:name="uid" />
		<db:select config-ref="Database_Config" doc:name="Usuario">
			<db:sql><![CDATA[SELECT id, name, email, role, active, created_at FROM users WHERE id = :id]]></db:sql>
			<db:input-parameters><![CDATA[#[{ id: vars.uid }]]]></db:input-parameters>
		</db:select>
		<validation:is-true config-ref="Validation_Config" expression="#[sizeOf(payload default []) &gt; 0]" message="Usuario no encontrado" doc:name="Existe usuario" />
		<set-variable value="#[payload[0]]" variableName="u" doc:name="u" />
		<db:select config-ref="Database_Config" doc:name="Matrículas + cursos">
			<db:sql><![CDATA[
SELECT e.id AS enrollment_id, e.status, e.enrollment_date,
       c.id AS course_id, c.title, c.category, c.duration_hours, c.price, c.currency
FROM enrollments e
JOIN courses c ON e.course_id = c.id
WHERE e.user_id = :uid
ORDER BY e.enrollment_date DESC
]]></db:sql>
			<db:input-parameters><![CDATA[#[{ uid: vars.uid }]]]></db:input-parameters>
		</db:select>
		<set-variable value="#[payload]" variableName="enrs" doc:name="enrs" />
		<db:select config-ref="Database_Config" doc:name="Evaluaciones">
			<db:sql><![CDATA[
SELECT er.id, er.enrollment_id, er.course_id, er.grade, er.passed, er.created_at
FROM evaluation_results er
JOIN enrollments en ON er.enrollment_id = en.id
WHERE en.user_id = :uid
]]></db:sql>
			<db:input-parameters><![CDATA[#[{ uid: vars.uid }]]]></db:input-parameters>
		</db:select>
		<set-variable value="#[payload]" variableName="grades" doc:name="grades" />
		<db:select config-ref="Database_Config" doc:name="Certificados">
			<db:sql><![CDATA[SELECT id, enrollment_id, course_id, grade, issued_at FROM certificates WHERE user_id = :uid ORDER BY issued_at DESC]]></db:sql>
			<db:input-parameters><![CDATA[#[{ uid: vars.uid }]]]></db:input-parameters>
		</db:select>
		<set-variable value="#[payload]" variableName="certs" doc:name="certs" />
		<set-payload value="#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;  user: vars.u,&#10;  enrollments: vars.enrs default [],&#10;  evaluations: vars.grades default [],&#10;  certificates: vars.certs default []&#10;}]" doc:name="Historial compuesto" />
	</flow>

	<!-- CourseService -->
	<flow name="get-courses-list-flow" doc:name="get-courses-list-flow">
		<http:listener config-ref="HTTP_Listener_config" path="/courses" allowedMethods="GET" doc:name="GET /courses" />
		<flow-ref name="validate-api-key-subflow" doc:name="validate-api-key-subflow" />
		<db:select config-ref="Database_Config" doc:name="LIST courses">
			<db:sql><![CDATA[SELECT * FROM courses WHERE active = true ORDER BY created_at DESC]]></db:sql>
		</db:select>
	</flow>

	<flow name="post-course-flow" doc:name="post-course-flow">
		<http:listener config-ref="HTTP_Listener_config" path="/courses" allowedMethods="POST" doc:name="POST /courses" />
		<flow-ref name="validate-api-key-subflow" doc:name="validate-api-key-subflow" />
		<set-variable value="#[payload]" variableName="c" doc:name="c" />
		<set-variable value="#[uuid()]" variableName="cid" doc:name="cid" />
		<db:insert config-ref="Database_Config" doc:name="INSERT course">
			<db:sql><![CDATA[
INSERT INTO courses (id, title, description, instructor_id, instructor_name, category, duration_hours, price, currency, active)
VALUES (:id, :title, :description, :instructor_id, :instructor_name, :category, :duration_hours, :price, :currency, true)
]]></db:sql>
			<db:input-parameters><![CDATA[#[{
  id: vars.cid,
  title: vars.c.title,
  description: vars.c.description default null,
  instructor_id: vars.c.instructor_id,
  instructor_name: vars.c.instructor_name default null,
  category: vars.c.category default null,
  duration_hours: vars.c.duration_hours default null,
  price: vars.c.price default 0,
  currency: vars.c.currency default 'EUR'
}]]]></db:input-parameters>
		</db:insert>
		<db:select config-ref="Database_Config" doc:name="SELECT course">
			<db:sql><![CDATA[SELECT * FROM courses WHERE id = :id]]></db:sql>
			<db:input-parameters><![CDATA[#[{ id: vars.cid }]]]></db:input-parameters>
		</db:select>
		<set-payload value="#[payload[0]]" doc:name="Curso" />
	</flow>

	<flow name="get-course-by-id-flow" doc:name="get-course-by-id-flow">
		<http:listener config-ref="HTTP_Listener_config" path="/courses/{courseId}" allowedMethods="GET" doc:name="GET /courses/{id}" />
		<flow-ref name="validate-api-key-subflow" doc:name="validate-api-key-subflow" />
		<db:select config-ref="Database_Config" doc:name="SELECT course">
			<db:sql><![CDATA[SELECT * FROM courses WHERE id = :id]]></db:sql>
			<db:input-parameters><![CDATA[#[{ id: attributes.uriParams.courseId }]]]></db:input-parameters>
		</db:select>
		<validation:is-true config-ref="Validation_Config" expression="#[sizeOf(payload default []) &gt; 0]" message="Curso no encontrado" doc:name="Existe" />
		<set-payload value="#[payload[0]]" doc:name="Curso" />
	</flow>

	<flow name="put-course-flow" doc:name="put-course-flow">
		<http:listener config-ref="HTTP_Listener_config" path="/courses/{courseId}" allowedMethods="PUT" doc:name="PUT /courses/{id}" />
		<flow-ref name="validate-api-key-subflow" doc:name="validate-api-key-subflow" />
		<set-variable value="#[payload]" variableName="c" doc:name="c" />
		<db:update config-ref="Database_Config" doc:name="UPDATE course">
			<db:sql><![CDATA[
UPDATE courses SET title=:title, description=:description, instructor_id=:instructor_id,
  instructor_name=:instructor_name, category=:category, duration_hours=:duration_hours,
  price=:price, currency=:currency, active=:active, updated_at=NOW()
WHERE id=:id
]]></db:sql>
			<db:input-parameters><![CDATA[#[{
  id: attributes.uriParams.courseId,
  title: vars.c.title,
  description: vars.c.description,
  instructor_id: vars.c.instructor_id,
  instructor_name: vars.c.instructor_name,
  category: vars.c.category,
  duration_hours: vars.c.duration_hours,
  price: vars.c.price,
  currency: vars.c.currency default 'EUR',
  active: vars.c.active default true
}]]]></db:input-parameters>
		</db:update>
		<db:select config-ref="Database_Config" doc:name="SELECT course">
			<db:sql><![CDATA[SELECT * FROM courses WHERE id = :id]]></db:sql>
			<db:input-parameters><![CDATA[#[{ id: attributes.uriParams.courseId }]]]></db:input-parameters>
		</db:select>
		<set-payload value="#[payload[0]]" doc:name="Curso" />
	</flow>

	<flow name="delete-course-flow" doc:name="delete-course-flow">
		<http:listener config-ref="HTTP_Listener_config" path="/courses/{courseId}" allowedMethods="DELETE" doc:name="DELETE /courses/{id}" />
		<flow-ref name="validate-api-key-subflow" doc:name="validate-api-key-subflow" />
		<db:update config-ref="Database_Config" doc:name="Soft delete curso">
			<db:sql><![CDATA[UPDATE courses SET active = false, updated_at = NOW() WHERE id = :id]]></db:sql>
			<db:input-parameters><![CDATA[#[{ id: attributes.uriParams.courseId }]]]></db:input-parameters>
		</db:update>
		<set-payload value='#[{ "deleted": true, "id": attributes.uriParams.courseId }]' doc:name="Respuesta" />
	</flow>

	<flow name="post-courses-sync-flow" doc:name="post-courses-sync-flow">
		<http:listener config-ref="HTTP_Listener_config" path="/courses/sync" allowedMethods="POST" doc:name="POST /courses/sync" />
		<flow-ref name="validate-api-key-subflow" doc:name="validate-api-key-subflow" />
		<set-payload value="#[%dw 2.0&#10;output application/java&#10;---&#10;[&#10;  {&#10;    externalId: 'LEG-001',&#10;    title: 'Contenido legacy: Fundamentos XML',&#10;    description: 'Importado del repositorio heredado',&#10;    category: 'Legacy',&#10;    duration_hours: 5,&#10;    price: 19.99,&#10;    instructor_id: '00000000-0000-0000-0000-000000000002',&#10;    instructor_name: 'Profesor Demo',&#10;    checksum: 'chk-001'&#10;  },&#10;  {&#10;    externalId: 'LEG-002',&#10;    title: 'Contenido legacy: SOAP avanzado',&#10;    description: 'Metadatos sincronizados',&#10;    category: 'Legacy',&#10;    duration_hours: 8,&#10;    price: 29.99,&#10;    instructor_id: '00000000-0000-0000-0000-000000000002',&#10;    instructor_name: 'Profesor Demo',&#10;    checksum: 'chk-002'&#10;  }&#10;]]" doc:name="Metadatos simulados legacy" />
		<foreach doc:name="Upsert cursos externos">
			<set-variable value="#[payload]" variableName="legacyItem" doc:name="legacyItem" />
			<db:select config-ref="Database_Config" doc:name="¿Existe por external?">
				<db:sql><![CDATA[SELECT id FROM courses WHERE external_content_id = :ext LIMIT 1]]></db:sql>
				<db:input-parameters><![CDATA[#[{ ext: vars.legacyItem.externalId }]]]></db:input-parameters>
			</db:select>
			<choice doc:name="Insert o update">
				<when expression="#[sizeOf(payload default []) == 0]">
					<db:insert config-ref="Database_Config" doc:name="INSERT desde legacy">
						<db:sql><![CDATA[
INSERT INTO courses (id, title, description, instructor_id, instructor_name, category, duration_hours, price, currency, active, external_content_id, external_last_modified, external_checksum)
VALUES (:id, :title, :description, :instructor_id, :instructor_name, :category, :duration_hours, :price, 'EUR', true, :ext_id, NOW(), :checksum)
]]></db:sql>
						<db:input-parameters><![CDATA[#[{
  id: uuid(),
  title: vars.legacyItem.title,
  description: vars.legacyItem.description,
  instructor_id: vars.legacyItem.instructor_id,
  instructor_name: vars.legacyItem.instructor_name,
  category: vars.legacyItem.category,
  duration_hours: vars.legacyItem.duration_hours,
  price: vars.legacyItem.price,
  ext_id: vars.legacyItem.externalId,
  checksum: vars.legacyItem.checksum
}]]]></db:input-parameters>
						</db:insert>
				</when>
				<otherwise>
					<db:update config-ref="Database_Config" doc:name="UPDATE desde legacy">
						<db:sql><![CDATA[
UPDATE courses SET title=:title, description=:description, category=:category, duration_hours=:duration_hours,
  price=:price, external_last_modified=NOW(), external_checksum=:checksum, updated_at=NOW()
WHERE external_content_id = :ext_id
]]></db:sql>
						<db:input-parameters><![CDATA[#[{
  title: vars.legacyItem.title,
  description: vars.legacyItem.description,
  category: vars.legacyItem.category,
  duration_hours: vars.legacyItem.duration_hours,
  price: vars.legacyItem.price,
  checksum: vars.legacyItem.checksum,
  ext_id: vars.legacyItem.externalId
}]]]></db:input-parameters>
						</db:update>
				</otherwise>
			</choice>
		</foreach>
		<db:insert config-ref="Database_Config" doc:name="Log sincronización OK">
			<db:sql><![CDATA[INSERT INTO legacy_sync_log (id, operation, status, detail) VALUES (:id, 'SYNC_CATALOG', 'OK', :detail)]]></db:sql>
			<db:input-parameters><![CDATA[#[{ id: uuid(), detail: 'Sincronización simulada desde LegacyConnector' }]]]></db:input-parameters>
		</db:insert>
		<set-payload value='#[{ "synced": true, "source": "legacy-mock" }]' doc:name="Respuesta sync" />
	</flow>

	<!-- EnrollmentService -->
	<flow name="post-enrollment-flow" doc:name="post-enrollment-flow">
		<http:listener config-ref="HTTP_Listener_config" path="/enrollments" allowedMethods="POST" doc:name="POST /enrollments" />
		<flow-ref name="validate-api-key-subflow" doc:name="validate-api-key-subflow" />
		<set-variable value="#[payload]" variableName="e" doc:name="e" />
		<set-variable value="#[uuid()]" variableName="eid" doc:name="eid" />
		<db:insert config-ref="Database_Config" doc:name="INSERT enrollment">
			<db:sql><![CDATA[INSERT INTO enrollments (id, user_id, course_id, status) VALUES (:id, :user_id, :course_id, 'ACTIVE')]]></db:sql>
			<db:input-parameters><![CDATA[#[{ id: vars.eid, user_id: vars.e.userId, course_id: vars.e.courseId }]]]></db:input-parameters>
		</db:insert>
		<db:select config-ref="Database_Config" doc:name="SELECT enrollment">
			<db:sql><![CDATA[
SELECT e.*, u.name AS user_name, c.title AS course_title
FROM enrollments e JOIN users u ON e.user_id=u.id JOIN courses c ON e.course_id=c.id
WHERE e.id = :id
]]></db:sql>
			<db:input-parameters><![CDATA[#[{ id: vars.eid }]]]></db:input-parameters>
		</db:select>
		<set-payload value="#[payload[0]]" doc:name="Matrícula" />
	</flow>

	<flow name="get-enrollment-flow" doc:name="get-enrollment-flow">
		<http:listener config-ref="HTTP_Listener_config" path="/enrollments/{enrollmentId}" allowedMethods="GET" doc:name="GET /enrollments/{id}" />
		<flow-ref name="validate-api-key-subflow" doc:name="validate-api-key-subflow" />
		<db:select config-ref="Database_Config" doc:name="SELECT enrollment">
			<db:sql><![CDATA[
SELECT e.*, u.name AS user_name, c.title AS course_title
FROM enrollments e JOIN users u ON e.user_id=u.id JOIN courses c ON e.course_id=c.id
WHERE e.id = :id
]]></db:sql>
			<db:input-parameters><![CDATA[#[{ id: attributes.uriParams.enrollmentId }]]]></db:input-parameters>
		</db:select>
		<validation:is-true config-ref="Validation_Config" expression="#[sizeOf(payload default []) &gt; 0]" message="Matrícula no encontrada" doc:name="Existe" />
		<set-payload value="#[payload[0]]" doc:name="Matrícula" />
	</flow>

	<flow name="delete-enrollment-flow" doc:name="delete-enrollment-flow">
		<http:listener config-ref="HTTP_Listener_config" path="/enrollments/{enrollmentId}" allowedMethods="DELETE" doc:name="DELETE /enrollments/{id}" />
		<flow-ref name="validate-api-key-subflow" doc:name="validate-api-key-subflow" />
		<db:update config-ref="Database_Config" doc:name="Cancelar matrícula">
			<db:sql><![CDATA[UPDATE enrollments SET status='CANCELLED' WHERE id=:id]]></db:sql>
			<db:input-parameters><![CDATA[#[{ id: attributes.uriParams.enrollmentId }]]]></db:input-parameters>
		</db:update>
		<set-payload value='#[{ "cancelled": true, "id": attributes.uriParams.enrollmentId }]' doc:name="Respuesta" />
	</flow>

	<!-- EvaluationService -->
	<flow name="get-evaluation-questions-flow" doc:name="get-evaluation-questions-flow">
		<http:listener config-ref="HTTP_Listener_config" path="/evaluations/{courseId}/questions" allowedMethods="GET" doc:name="GET preguntas" />
		<flow-ref name="validate-api-key-subflow" doc:name="validate-api-key-subflow" />
		<set-payload value="#[%dw 2.0&#10;output application/json&#10;var cid = attributes.uriParams.courseId&#10;---&#10;{&#10;  courseId: cid,&#10;  questions: [&#10;    { id: 'q1', text: '¿Qué significa SOA?', options: ['Arquitectura orientada a servicios','Solo Oracle Apps','Un lenguaje'] , correct: 'q1-A' },&#10;    { id: 'q2', text: 'Ventaja principal de REST', options: ['Simplicidad y escalabilidad','Solo XML','Sin HTTP'] , correct: 'q2-A' },&#10;    { id: 'q3', text: 'Rol típico de un ESB', options: ['Mediación y orquestación','Solo UI','Almacenamiento OLAP'] , correct: 'q3-A' }&#10;  ]&#10;}]" doc:name="Preguntas demo" />
	</flow>

	<flow name="post-evaluation-answers-flow" doc:name="post-evaluation-answers-flow">
		<http:listener config-ref="HTTP_Listener_config" path="/evaluations/answers" allowedMethods="POST" doc:name="POST answers" />
		<flow-ref name="validate-api-key-subflow" doc:name="validate-api-key-subflow" />
		<validation:is-true config-ref="Validation_Config" expression="#[not isEmpty(payload.enrollmentId)]" message="enrollmentId obligatorio" doc:name="enrollmentId" />
		<set-payload value="#[%dw 2.0&#10;output application/json&#10;---&#10;{ received: true, enrollmentId: payload.enrollmentId, answersCount: sizeOf(payload.answers default []) }]" doc:name="ACK respuestas" />
	</flow>

	<flow name="post-evaluation-calculate-grade-flow" doc:name="post-evaluation-calculate-grade-flow">
		<http:listener config-ref="HTTP_Listener_config" path="/evaluations/calculate-grade" allowedMethods="POST" doc:name="POST calculate-grade" />
		<flow-ref name="validate-api-key-subflow" doc:name="validate-api-key-subflow" />
		<set-variable value="#[payload]" variableName="req" doc:name="req" />
		<db:select config-ref="Database_Config" doc:name="Matrícula y curso">
			<db:sql><![CDATA[SELECT e.id, e.user_id, e.course_id, e.status FROM enrollments e WHERE e.id = :eid]]></db:sql>
			<db:input-parameters><![CDATA[#[{ eid: vars.req.enrollmentId }]]]></db:input-parameters>
		</db:select>
		<validation:is-true config-ref="Validation_Config" expression="#[sizeOf(payload default []) &gt; 0]" message="Matrícula no válida" doc:name="Existe matrícula" />
		<set-variable value="#[payload[0]]" variableName="en" doc:name="en" />
		<validation:is-true config-ref="Validation_Config" expression="#[vars.en.status == 'ACTIVE']" message="Matrícula no activa" doc:name="Activa" />
		<set-payload value="#[%dw 2.0&#10;output application/java&#10;var answers = vars.req.answers default []&#10;var correct = ['q1-A','q2-A','q3-A']&#10;var selected = answers map ((a) -> a.questionId ++ '-' ++ (a.selected default ''))&#10;var hits = sizeOf((correct filter (c) -> selected contains c))&#10;var total = sizeOf(correct)&#10;var grade = if (total == 0) 0 else (hits * 10) / total&#10;---&#10;{ grade: grade, passed: grade &gt;= 5, hits: hits, total: total }]" doc:name="Calcular nota" />
		<set-variable value="#[payload]" variableName="calc" doc:name="calc" />
		<db:delete config-ref="Database_Config" doc:name="Borrar evaluación previa">
			<db:sql><![CDATA[DELETE FROM evaluation_results WHERE enrollment_id = :eid]]></db:sql>
			<db:input-parameters><![CDATA[#[{ eid: vars.req.enrollmentId }]]]></db:input-parameters>
		</db:delete>
		<db:insert config-ref="Database_Config" doc:name="INSERT evaluation_results">
			<db:sql><![CDATA[
INSERT INTO evaluation_results (id, enrollment_id, course_id, grade, passed, answers_json)
VALUES (:id, :eid, :cid, :grade, :passed, :answers)
]]></db:sql>
			<db:input-parameters><![CDATA[#[{
  id: uuid(),
  eid: vars.req.enrollmentId,
  cid: vars.en.course_id,
  grade: vars.calc.grade,
  passed: vars.calc.passed,
  answers: write(vars.req.answers default [], 'application/json')
}]]]></db:input-parameters>
		</db:insert>
		<db:update config-ref="Database_Config" doc:name="Marcar curso completado si aprobado">
			<db:sql><![CDATA[UPDATE enrollments SET status = IF(:passed, 'COMPLETED', status) WHERE id = :eid]]></db:sql>
			<db:input-parameters><![CDATA[#[{ passed: vars.calc.passed, eid: vars.req.enrollmentId }]]]></db:input-parameters>
		</db:update>
		<set-payload value="#[vars.calc ++ { enrollmentId: vars.req.enrollmentId, courseId: vars.en.course_id }]" doc:name="Resultado" />
	</flow>

	<flow name="get-evaluation-grade-flow" doc:name="get-evaluation-grade-flow">
		<http:listener config-ref="HTTP_Listener_config" path="/evaluations/{enrollmentId}/grade" allowedMethods="GET" doc:name="GET nota" />
		<flow-ref name="validate-api-key-subflow" doc:name="validate-api-key-subflow" />
		<db:select config-ref="Database_Config" doc:name="SELECT nota">
			<db:sql><![CDATA[SELECT id, enrollment_id, course_id, grade, passed, created_at FROM evaluation_results WHERE enrollment_id = :eid]]></db:sql>
			<db:input-parameters><![CDATA[#[{ eid: attributes.uriParams.enrollmentId }]]]></db:input-parameters>
		</db:select>
		<validation:is-true config-ref="Validation_Config" expression="#[sizeOf(payload default []) &gt; 0]" message="Nota no encontrada" doc:name="Existe nota" />
		<set-payload value="#[payload[0]]" doc:name="Nota" />
	</flow>

	<!-- EmailNotificationService -->
	<flow name="post-notifications-email-flow" doc:name="post-notifications-email-flow">
		<http:listener config-ref="HTTP_Listener_config" path="/notifications/email" allowedMethods="POST" doc:name="POST email" />
		<flow-ref name="validate-api-key-subflow" doc:name="validate-api-key-subflow" />
		<set-variable value="#[uuid()]" variableName="nid" doc:name="nid" />
		<db:insert config-ref="Database_Config" doc:name="INSERT email_log">
			<db:sql><![CDATA[
INSERT INTO email_log (id, recipient_email, subject, body, notification_type, status, related_user_id, sent_at)
VALUES (:id, :to, :subject, :body, COALESCE(:ntype,'OTHER'), 'SENT', :uid, NOW())
]]></db:sql>
			<db:input-parameters><![CDATA[#[{
  id: vars.nid,
  to: payload.to,
  subject: payload.subject,
  body: payload.body default '',
  ntype: payload.notificationType,
  uid: payload.userId default null
}]]]></db:input-parameters>
		</db:insert>
		<logger level="INFO" doc:name="Simulación envío" message='#["EMAIL simulado a " ++ payload.to]' />
		<set-payload value="#[%dw 2.0&#10;output application/json&#10;---&#10;{ id: vars.nid, status: 'SENT' }]" doc:name="Respuesta" />
	</flow>

	<flow name="post-notifications-enrollment-flow" doc:name="post-notifications-enrollment-flow">
		<http:listener config-ref="HTTP_Listener_config" path="/notifications/enrollment" allowedMethods="POST" doc:name="POST enrollment notif" />
		<flow-ref name="validate-api-key-subflow" doc:name="validate-api-key-subflow" />
		<set-variable value="#[uuid()]" variableName="nid" doc:name="nid" />
		<db:insert config-ref="Database_Config" doc:name="INSERT email matrícula">
			<db:sql><![CDATA[
INSERT INTO email_log (id, recipient_email, subject, body, notification_type, status, related_user_id, sent_at)
VALUES (:id, :to, :subject, :body, 'ENROLLMENT', 'SENT', :uid, NOW())
]]></db:sql>
			<db:input-parameters><![CDATA[#[{
  id: vars.nid,
  to: payload.email,
  subject: 'Confirmación de matrícula',
  body: payload.message default 'Matrícula registrada',
  uid: payload.userId default null
}]]]></db:input-parameters>
		</db:insert>
		<set-payload value="#[%dw 2.0 output application/json --- { id: vars.nid, status: 'SENT', 'type': 'ENROLLMENT' }]" doc:name="Respuesta" />
	</flow>

	<flow name="post-notifications-certificate-flow" doc:name="post-notifications-certificate-flow">
		<http:listener config-ref="HTTP_Listener_config" path="/notifications/certificate" allowedMethods="POST" doc:name="POST certificate notif" />
		<flow-ref name="validate-api-key-subflow" doc:name="validate-api-key-subflow" />
		<set-variable value="#[uuid()]" variableName="nid" doc:name="nid" />
		<db:insert config-ref="Database_Config" doc:name="INSERT email certificado">
			<db:sql><![CDATA[
INSERT INTO email_log (id, recipient_email, subject, body, notification_type, status, related_user_id, sent_at)
VALUES (:id, :to, :subject, :body, 'CERTIFICATE', 'SENT', :uid, NOW())
]]></db:sql>
			<db:input-parameters><![CDATA[#[{
  id: vars.nid,
  to: payload.email,
  subject: 'Certificado disponible',
  body: payload.message default 'Certificado generado',
  uid: payload.userId default null
}]]]></db:input-parameters>
		</db:insert>
		<set-payload value="#[%dw 2.0 output application/json --- { id: vars.nid, status: 'SENT', 'type': 'CERTIFICATE' }]" doc:name="Respuesta" />
	</flow>

	<!-- FinancialGatewayService (mock REST) -->
	<flow name="post-payments-process-flow" doc:name="post-payments-process-flow">
		<http:listener config-ref="HTTP_Listener_config" path="/payments/process" allowedMethods="POST" doc:name="POST payments/process" />
		<flow-ref name="validate-api-key-subflow" doc:name="validate-api-key-subflow" />
		<set-variable value="#[uuid()]" variableName="pid" doc:name="pid" />
		<set-variable value="#[payload]" variableName="pay" doc:name="pay" />
		<validation:is-true config-ref="Validation_Config" expression="#[not isEmpty(vars.pay.userId)]" message="userId obligatorio" doc:name="Validar userId" />
		<validation:is-true config-ref="Validation_Config" expression="#[not isEmpty(vars.pay.courseId)]" message="courseId obligatorio" doc:name="Validar courseId" />
		<validation:is-true config-ref="Validation_Config" expression="#[(vars.pay.amount default 0) as Number &gt;= 0]" message="amount no puede ser negativo" doc:name="Validar amount" />
		<db:select config-ref="Database_Config" doc:name="SELECT usuario activo">
			<db:sql><![CDATA[SELECT id, name, email, active FROM users WHERE id = :id AND active = true]]></db:sql>
			<db:input-parameters><![CDATA[#[{ id: vars.pay.userId }]]]></db:input-parameters>
		</db:select>
		<validation:is-true config-ref="Validation_Config" expression="#[sizeOf(payload default []) &gt; 0]" message="Usuario no encontrado o inactivo" doc:name="Existe usuario" />
		<set-variable value="#[payload[0]]" variableName="paymentUser" doc:name="paymentUser" />
		<db:select config-ref="Database_Config" doc:name="SELECT curso activo">
			<db:sql><![CDATA[SELECT id, title, price, currency, active FROM courses WHERE id = :id AND active = true]]></db:sql>
			<db:input-parameters><![CDATA[#[{ id: vars.pay.courseId }]]]></db:input-parameters>
		</db:select>
		<validation:is-true config-ref="Validation_Config" expression="#[sizeOf(payload default []) &gt; 0]" message="Curso no encontrado o inactivo" doc:name="Existe curso" />
		<set-variable value="#[payload[0]]" variableName="paymentCourse" doc:name="paymentCourse" />
		<set-variable value="#[(vars.pay.amount default vars.paymentCourse.price default 0) as Number]" variableName="paymentAmount" doc:name="paymentAmount" />
		<set-variable value="#[(vars.pay.currency default vars.paymentCourse.currency default 'EUR')]" variableName="paymentCurrency" doc:name="paymentCurrency" />
		<set-variable value="#['fgw-ref-' ++ ((vars.pid as String) replace '-' with '')]" variableName="externalRef" doc:name="externalRef" />
		<db:insert config-ref="Database_Config" doc:name="INSERT payment PENDING">
			<db:sql><![CDATA[
INSERT INTO payments (id, user_id, course_id, amount, currency, status, external_ref)
VALUES (:id, :uid, :cid, :amount, :cur, 'PENDING', :eref)
]]></db:sql>
			<db:input-parameters><![CDATA[#[{
  id: vars.pid,
  uid: vars.pay.userId,
  cid: vars.pay.courseId,
  amount: vars.paymentAmount,
  cur: vars.paymentCurrency,
  eref: vars.externalRef
}]]]></db:input-parameters>
		</db:insert>
		<set-payload value="#[%dw 2.0
output application/json
---
{
  paymentId: vars.pid,
  status: 'PENDING',
  externalRef: vars.externalRef,
  userId: vars.pay.userId,
  courseId: vars.pay.courseId,
  amount: vars.paymentAmount,
  currency: vars.paymentCurrency
}]" doc:name="Respuesta proceso" />
	</flow>

	<flow name="post-payments-confirm-flow" doc:name="post-payments-confirm-flow">
		<http:listener config-ref="HTTP_Listener_config" path="/payments/confirm" allowedMethods="POST" doc:name="POST payments/confirm" />
		<flow-ref name="validate-api-key-subflow" doc:name="validate-api-key-subflow" />
		<validation:is-true config-ref="Validation_Config" expression="#[not isEmpty(payload.paymentId)]" message="paymentId obligatorio" doc:name="Validar paymentId" />
		<db:select config-ref="Database_Config" doc:name="SELECT payment PENDING">
			<db:sql><![CDATA[SELECT id, user_id, course_id, amount, currency, status, external_ref FROM payments WHERE id=:id AND status='PENDING']]></db:sql>
			<db:input-parameters><![CDATA[#[{ id: payload.paymentId }]]]></db:input-parameters>
		</db:select>
		<validation:is-true config-ref="Validation_Config" expression="#[sizeOf(payload default []) &gt; 0]" message="Pago no encontrado o no pendiente" doc:name="Existe pago pendiente" />
		<set-variable value="#[payload[0]]" variableName="payment" doc:name="payment" />
		<db:update config-ref="Database_Config" doc:name="UPDATE CONFIRMED">
			<db:sql><![CDATA[UPDATE payments SET status='CONFIRMED', updated_at=NOW() WHERE id=:id AND status='PENDING']]></db:sql>
			<db:input-parameters><![CDATA[#[{ id: vars.payment.id }]]]></db:input-parameters>
		</db:update>
		<set-payload value="#[%dw 2.0 output application/json --- vars.payment ++ { status: 'CONFIRMED' }]" doc:name="Respuesta" />
	</flow>

	<flow name="post-payments-cancel-flow" doc:name="post-payments-cancel-flow">
		<http:listener config-ref="HTTP_Listener_config" path="/payments/cancel" allowedMethods="POST" doc:name="POST payments/cancel" />
		<flow-ref name="validate-api-key-subflow" doc:name="validate-api-key-subflow" />
		<validation:is-true config-ref="Validation_Config" expression="#[not isEmpty(payload.paymentId)]" message="paymentId obligatorio" doc:name="Validar paymentId" />
		<db:select config-ref="Database_Config" doc:name="SELECT payment">
			<db:sql><![CDATA[SELECT id, user_id, course_id, amount, currency, status, external_ref FROM payments WHERE id=:id]]></db:sql>
			<db:input-parameters><![CDATA[#[{ id: payload.paymentId }]]]></db:input-parameters>
		</db:select>
		<validation:is-true config-ref="Validation_Config" expression="#[sizeOf(payload default []) &gt; 0]" message="Pago no encontrado" doc:name="Existe pago" />
		<set-variable value="#[payload[0]]" variableName="payment" doc:name="payment" />
		<db:update config-ref="Database_Config" doc:name="UPDATE CANCELLED">
			<db:sql><![CDATA[UPDATE payments SET status='CANCELLED', updated_at=NOW() WHERE id=:id]]></db:sql>
			<db:input-parameters><![CDATA[#[{ id: vars.payment.id }]]]></db:input-parameters>
		</db:update>
		<set-payload value="#[%dw 2.0 output application/json --- vars.payment ++ { status: 'CANCELLED' }]" doc:name="Respuesta" />
	</flow>
</mule>
