src/main/mule/elearning-soap.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">

	<!-- CertificateService (SOAP sobre HTTP + XML) -->
	<flow name="soap-certificate-flow" doc:name="soap-certificate-flow">
		<http:listener config-ref="HTTP_Listener_config" path="/soap/certificate" allowedMethods="POST" doc:name="POST /soap/certificate" />
		<flow-ref name="validate-api-key-subflow" doc:name="validate-api-key-subflow" />
		<set-variable value="#[payload as String]" variableName="xmlIn" doc:name="xmlIn" />
		<choice doc:name="Operación SOAP">
			<when expression="#[upper(vars.xmlIn) contains 'GENERARCERTIFICADO']">
				<set-variable value="#[%dw 2.0&#10;import * from dw::core::Strings&#10;var s = vars.xmlIn&#10;fun tag(name) = (s scan ('&lt;' ++ name ++ '&gt;([^&lt;]*)'))[0][1] default ''&#10;---&#10;{ userId: tag('userId'), courseId: tag('courseId'), enrollmentId: tag('enrollmentId') }]" variableName="certReq" doc:name="Parse XML simple" />
				<db:select config-ref="Database_Config" doc:name="Matrícula + nota">
					<db:sql><![CDATA[
SELECT e.id AS eid, e.user_id, e.course_id, e.status, er.grade, er.passed
FROM enrollments e
LEFT JOIN evaluation_results er ON er.enrollment_id = e.id
WHERE e.id = :eid AND e.user_id = :uid
]]></db:sql>
					<db:input-parameters><![CDATA[#[{ eid: vars.certReq.enrollmentId, uid: vars.certReq.userId }]]]></db:input-parameters>
				</db:select>
				<choice doc:name="¿Válido para certificar?">
					<when expression="#[sizeOf(payload default []) &gt; 0 and payload[0].passed == true and (payload[0].grade default 0) &gt;= 5]">
						<set-variable value="#[payload[0]]" variableName="row" doc:name="row" />
						<set-variable value="#[uuid()]" variableName="certId" doc:name="certId" />
						<db:insert config-ref="Database_Config" doc:name="INSERT certificate">
							<db:sql><![CDATA[
INSERT INTO certificates (id, enrollment_id, user_id, course_id, grade, certificate_payload)
VALUES (:id, :eid, :uid, :cid, :grade, :payload)
]]></db:sql>
							<db:input-parameters><![CDATA[#[{
  id: vars.certId,
  eid: vars.row.eid,
  uid: vars.row.user_id,
  cid: vars.row.course_id,
  grade: vars.row.grade,
  payload: '<Certificate id="' ++ vars.certId ++ '"/>'
}]]]></db:input-parameters>
						</db:insert>
						<set-payload value="#[%dw 2.0 output text/plain var cid = vars.certId --- '&lt;?xml version=&quot;1.0&quot;?&gt;&lt;soap:Envelope xmlns:soap=&quot;http://schemas.xmlsoap.org/soap/envelope/&quot;&gt;&lt;soap:Body&gt;&lt;GenerarCertificadoResponse xmlns=&quot;http://mtis.local/cert&quot;&gt;&lt;certificateId&gt;' ++ cid ++ '&lt;/certificateId&gt;&lt;status&gt;OK&lt;/status&gt;&lt;/GenerarCertificadoResponse&gt;&lt;/soap:Body&gt;&lt;/soap:Envelope&gt;']" mimeType="text/xml" doc:name="SOAP OK" />
					</when>
					<otherwise>
						<set-payload value="#[%dw 2.0 output text/plain --- '&lt;?xml version=&quot;1.0&quot;?&gt;&lt;soap:Envelope xmlns:soap=&quot;http://schemas.xmlsoap.org/soap/envelope/&quot;&gt;&lt;soap:Body&gt;&lt;soap:Fault&gt;&lt;faultstring&gt;No cumple requisitos (matrícula, nota aprobada)&lt;/faultstring&gt;&lt;/soap:Fault&gt;&lt;/soap:Body&gt;&lt;/soap:Envelope&gt;']" mimeType="text/xml" doc:name="SOAP Fault" />
					</otherwise>
				</choice>
			</when>
			<when expression="#[upper(vars.xmlIn) contains 'CONSULTARCERTIFICADO']">
				<set-variable value="#[%dw 2.0&#10;var s = vars.xmlIn&#10;fun tag(name) = (s scan ('&lt;' ++ name ++ '&gt;([^&lt;]*)'))[0][1] default ''&#10;---&#10;tag('userId')]" variableName="qUser" doc:name="userId consulta" />
				<db:select config-ref="Database_Config" doc:name="SELECT certificados">
					<db:sql><![CDATA[SELECT id, enrollment_id, course_id, grade, issued_at FROM certificates WHERE user_id = :uid ORDER BY issued_at DESC]]></db:sql>
					<db:input-parameters><![CDATA[#[{ uid: vars.qUser }]]]></db:input-parameters>
				</db:select>
				<set-payload value="#[%dw 2.0 output text/plain var rows = payload default [] var inner = (rows map ((r) -&gt; '&lt;certificate&gt;&lt;id&gt;' ++ (r.id as String) ++ '&lt;/id&gt;&lt;enrollmentId&gt;' ++ (r.enrollment_id as String) ++ '&lt;/enrollmentId&gt;&lt;courseId&gt;' ++ (r.course_id as String) ++ '&lt;/courseId&gt;&lt;grade&gt;' ++ (r.grade as String) ++ '&lt;/grade&gt;&lt;/certificate&gt;')) joinBy '' --- '&lt;?xml version=&quot;1.0&quot;?&gt;&lt;soap:Envelope xmlns:soap=&quot;http://schemas.xmlsoap.org/soap/envelope/&quot;&gt;&lt;soap:Body&gt;&lt;ConsultarCertificadoResponse xmlns=&quot;http://mtis.local/cert&quot;&gt;&lt;certificates&gt;' ++ inner ++ '&lt;/certificates&gt;&lt;/ConsultarCertificadoResponse&gt;&lt;/soap:Body&gt;&lt;/soap:Envelope&gt;']" mimeType="text/xml" doc:name="XML lista certificados" />
			</when>
			<otherwise>
				<set-payload value='#["&lt;soap:Fault&gt;&lt;faultstring&gt;Operación SOAP no reconocida&lt;/faultstring&gt;&lt;/soap:Fault&gt;"]' mimeType="text/xml" doc:name="Fault" />
			</otherwise>
		</choice>
	</flow>

	<!-- LegacyConnectorService (SOAP simulado) -->
	<flow name="soap-legacy-flow" doc:name="soap-legacy-flow">
		<http:listener config-ref="HTTP_Listener_config" path="/soap/legacy" allowedMethods="POST" doc:name="POST /soap/legacy" />
		<flow-ref name="validate-api-key-subflow" doc:name="validate-api-key-subflow" />
		<set-variable value="#[payload as String]" variableName="xmlIn" doc:name="xmlIn" />
		<choice doc:name="Operación legacy">
			<when expression="#[upper(vars.xmlIn) contains 'OBTENERCONTENIDOSEXTERNOS']">
				<set-payload value='#["&lt;?xml version=&quot;1.0&quot;?&gt;&lt;soap:Envelope xmlns:soap=&quot;http://schemas.xmlsoap.org/soap/envelope/&quot;&gt;&lt;soap:Body&gt;&lt;ObtenerContenidosExternosResponse xmlns=&quot;http://mtis.local/legacy&quot;&gt;&lt;items&gt;&lt;item&gt;&lt;externalId&gt;LEG-001&lt;/externalId&gt;&lt;title&gt;Fundamentos XML&lt;/title&gt;&lt;/item&gt;&lt;item&gt;&lt;externalId&gt;LEG-002&lt;/externalId&gt;&lt;title&gt;SOAP avanzado&lt;/title&gt;&lt;/item&gt;&lt;/items&gt;&lt;/ObtenerContenidosExternosResponse&gt;&lt;/soap:Body&gt;&lt;/soap:Envelope&gt;"]' mimeType="text/xml" doc:name="Respuesta legacy" />
			</when>
			<when expression="#[upper(vars.xmlIn) contains 'SINCRONIZARDATOSREPOSITORIO']">
				<db:insert config-ref="Database_Config" doc:name="Log sync legacy">
					<db:sql><![CDATA[INSERT INTO legacy_sync_log (id, operation, status, detail) VALUES (:id, 'SYNC_REPO', 'OK', :detail)]]></db:sql>
					<db:input-parameters><![CDATA[#[{ id: uuid(), detail: 'SincronizarDatosRepositorio (SOAP)' }]]]></db:input-parameters>
				</db:insert>
				<set-payload value='#["&lt;?xml version=&quot;1.0&quot;?&gt;&lt;soap:Envelope xmlns:soap=&quot;http://schemas.xmlsoap.org/soap/envelope/&quot;&gt;&lt;soap:Body&gt;&lt;SincronizarDatosRepositorioResponse xmlns=&quot;http://mtis.local/legacy&quot;&gt;&lt;status&gt;OK&lt;/status&gt;&lt;/SincronizarDatosRepositorioResponse&gt;&lt;/soap:Body&gt;&lt;/soap:Envelope&gt;"]' mimeType="text/xml" doc:name="Respuesta sync" />
			</when>
			<otherwise>
				<set-payload value='#["&lt;?xml version=&quot;1.0&quot;?&gt;&lt;soap:Envelope xmlns:soap=&quot;http://schemas.xmlsoap.org/soap/envelope/&quot;&gt;&lt;soap:Body&gt;&lt;ConsultarMetadatosContenidoResponse xmlns=&quot;http://mtis.local/legacy&quot;&gt;&lt;checksum&gt;meta-demo&lt;/checksum&gt;&lt;/ConsultarMetadatosContenidoResponse&gt;&lt;/soap:Body&gt;&lt;/soap:Envelope&gt;"]' mimeType="text/xml" doc:name="Metadatos default" />
			</otherwise>
		</choice>
	</flow>

	<!-- CoursePurchaseProcessService (SOAP orquestación simplificada) -->
	<flow name="soap-purchase-flow" doc:name="soap-purchase-flow">
		<http:listener config-ref="HTTP_Listener_config" path="/soap/purchase" allowedMethods="POST" doc:name="POST /soap/purchase" />
		<flow-ref name="validate-api-key-subflow" doc:name="validate-api-key-subflow" />
		<set-variable value="#[payload as String]" variableName="xmlIn" doc:name="xmlIn" />
		<choice doc:name="Proceso compra">
			<when expression="#[upper(vars.xmlIn) contains 'INICIARCOMPRA']">
				<set-variable value="#[%dw 2.0&#10;var s = vars.xmlIn&#10;fun tag(name) = (s scan ('&lt;' ++ name ++ '&gt;([^&lt;]*)'))[0][1] default ''&#10;---&#10;{ userId: tag('userId'), courseId: tag('courseId'), amount: tag('amount') }]" variableName="pur" doc:name="Parse compra" />
				<set-variable value="#[uuid()]" variableName="payId" doc:name="payId" />
				<db:insert config-ref="Database_Config" doc:name="Pago PENDING">
					<db:sql><![CDATA[
INSERT INTO payments (id, user_id, course_id, amount, currency, status, external_ref)
VALUES (:id, :uid, :cid, :amount, 'EUR', 'PENDING', :eref)
]]></db:sql>
					<db:input-parameters><![CDATA[#[{
  id: vars.payId,
  uid: vars.pur.userId,
  cid: vars.pur.courseId,
  amount: (vars.pur.amount default "0") as Number,
  eref: 'soap-purchase-' ++ vars.payId
}]]]></db:input-parameters>
				</db:insert>
				<set-payload value="#[%dw 2.0 output text/plain var pid = vars.payId --- '&lt;?xml version=&quot;1.0&quot;?&gt;&lt;soap:Envelope xmlns:soap=&quot;http://schemas.xmlsoap.org/soap/envelope/&quot;&gt;&lt;soap:Body&gt;&lt;IniciarCompraResponse xmlns=&quot;http://mtis.local/purchase&quot;&gt;&lt;paymentId&gt;' ++ pid ++ '&lt;/paymentId&gt;&lt;status&gt;PENDING&lt;/status&gt;&lt;/IniciarCompraResponse&gt;&lt;/soap:Body&gt;&lt;/soap:Envelope&gt;']" mimeType="text/xml" doc:name="SOAP IniciarCompra" />
			</when>
			<when expression="#[upper(vars.xmlIn) contains 'PROCESARPAGO' or upper(vars.xmlIn) contains 'CONFIRMARCOMPRA']">
				<set-variable value="#[%dw 2.0&#10;var s = vars.xmlIn&#10;fun tag(name) = (s scan ('&lt;' ++ name ++ '&gt;([^&lt;]*)'))[0][1] default ''&#10;---&#10;{ paymentId: tag('paymentId'), userId: tag('userId'), courseId: tag('courseId') }]" variableName="pc" doc:name="Parse pago" />
				<db:update config-ref="Database_Config" doc:name="Confirmar pago">
					<db:sql><![CDATA[UPDATE payments SET status='CONFIRMED', updated_at=NOW() WHERE id=:id AND status='PENDING']]></db:sql>
					<db:input-parameters><![CDATA[#[{ id: vars.pc.paymentId }]]]></db:input-parameters>
				</db:update>
				<choice doc:name="¿Matricular?">
					<when expression="#[vars.pc.userId != '' and vars.pc.courseId != '']">
						<set-variable value="#[uuid()]" variableName="eid" doc:name="eid" />
						<try doc:name="Try matrícula">
							<db:insert config-ref="Database_Config" doc:name="INSERT enrollment">
								<db:sql><![CDATA[INSERT INTO enrollments (id, user_id, course_id, status) VALUES (:id, :uid, :cid, 'ACTIVE')]]></db:sql>
								<db:input-parameters><![CDATA[#[{ id: vars.eid, uid: vars.pc.userId, cid: vars.pc.courseId }]]]></db:input-parameters>
							</db:insert>
							<error-handler>
								<on-error-continue doc:name="Ignorar duplicado u otros DB">
									<logger level="WARN" message="#[error.description]" doc:name="Logger" />
								</on-error-continue>
							</error-handler>
						</try>
					</when>
				</choice>
				<set-payload value="#[%dw 2.0 output text/plain var e = vars.eid default '' --- '&lt;?xml version=&quot;1.0&quot;?&gt;&lt;soap:Envelope xmlns:soap=&quot;http://schemas.xmlsoap.org/soap/envelope/&quot;&gt;&lt;soap:Body&gt;&lt;ConfirmarCompraResponse xmlns=&quot;http://mtis.local/purchase&quot;&gt;&lt;status&gt;CONFIRMED&lt;/status&gt;&lt;enrollmentId&gt;' ++ e ++ '&lt;/enrollmentId&gt;&lt;/ConfirmarCompraResponse&gt;&lt;/soap:Body&gt;&lt;/soap:Envelope&gt;']" mimeType="text/xml" doc:name="SOAP confirmado" />
			</when>
			<when expression="#[upper(vars.xmlIn) contains 'CANCELARCOMPRA']">
				<set-variable value="#[%dw 2.0&#10;var s = vars.xmlIn&#10;fun tag(name) = (s scan ('&lt;' ++ name ++ '&gt;([^&lt;]*)'))[0][1] default ''&#10;---&#10;tag('paymentId')]" variableName="pid" doc:name="paymentId" />
				<db:update config-ref="Database_Config" doc:name="Cancelar pago">
					<db:sql><![CDATA[UPDATE payments SET status='CANCELLED', updated_at=NOW() WHERE id=:id]]></db:sql>
					<db:input-parameters><![CDATA[#[{ id: vars.pid }]]]></db:input-parameters>
				</db:update>
				<set-payload value='#["&lt;?xml version=&quot;1.0&quot;?&gt;&lt;soap:Envelope xmlns:soap=&quot;http://schemas.xmlsoap.org/soap/envelope/&quot;&gt;&lt;soap:Body&gt;&lt;CancelarCompraResponse xmlns=&quot;http://mtis.local/purchase&quot;&gt;&lt;status&gt;CANCELLED&lt;/status&gt;&lt;/CancelarCompraResponse&gt;&lt;/soap:Body&gt;&lt;/soap:Envelope&gt;"]' mimeType="text/xml" doc:name="SOAP cancel" />
			</when>
			<otherwise>
				<set-payload value='#["&lt;soap:Fault&gt;&lt;faultstring&gt;Operación de compra no reconocida&lt;/faultstring&gt;&lt;/soap:Fault&gt;"]' mimeType="text/xml" doc:name="Fault" />
			</otherwise>
		</choice>
	</flow>
</mule>
